<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card-body">
                    <h3>Login </h3>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <label>Email*</label>

                            <input type="text" formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }" />
                            <div *ngIf="submitted && loginForm.controls.email.errors" class="invalid-feedback">
                                <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
                                <div *ngIf="loginForm.controls.email.errors.email">please enter valid email address
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password*</label>
                            <input type="password" formControlName="password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }" />
                            <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
                                <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div *ngIf="authenticationFlag" class="alert alert-danger">{{errorMessage}}</div>
                        <div class="form-group">
                            <button class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>