<app-header></app-header>
<div class="card-group col-md-6">
    <div *ngFor="let item of userList">

        <div class="card" style="width: 18rem;">
            <img src="/assets/images/blankdp.jpg" class="card-img-top" alt="blankDP">
            <div class="card-body">
                <h5 class="card-title text-white p-3 mb-2 bg-primary  text-center">{{item.name}}</h5>
                <a href="#" class="text-center">View Profile</a>
            </div>
        </div>
    </div>

</div>