<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Sign Up </h3>
                <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Name*</label>
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.name.errors }" />
                        <div *ngIf="submitted && registerForm.controls.name.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls.name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email*</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }" />
                        <div *ngIf="submitted && registerForm.controls.email.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
                            <div *ngIf="registerForm.controls.email.errors.email">please enter a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password*</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }" />
                        <div *ngIf="submitted && registerForm.controls.password.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password*</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.confirmPassword.errors }" />
                        <div *ngIf="submitted && registerForm.controls.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="registerForm.controls.confirmPassword.errors.notEquivalent">Password and confirmPassword must match</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Date of Birth*</label>
                        <input type="date" formControlName="dateOfBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.dateOfBirth.errors }" />
                        <div *ngIf="submitted && registerForm.controls.dateOfBirth.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls.dateOfBirth.errors.required">DOB is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Gender*</label>
                        <input type="radio" value="MALE" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.gender.errors }">
                            <span>Male</span>
                        <input type="radio" value="FEMALE" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.gender.errors }">
                            <span>Female</span>
                        <div *ngIf="submitted && registerForm.controls.gender.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls.gender.errors.required">gender is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Upload Image</label>
                        <input type="file" formControlName="image" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.dateOfBirth.errors }" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>