<nav class="navbar navbar-expand-sm bg-primary navbar-light">

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <img class="navbar-brand text-white" src="assets/icons/logo.png" />
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">View</a>
            </li>
        </ul>
        

    </div>
    <input class="form-control col-md-4" type="text" aria-label="Search" placeholder="Search by name">
        <!-- <button class="btn btn-primary text-white" type="submit" style="background: url(assets/icons/search.png);">&nbsp;&nbsp;</button> -->
        <img class="img-responsive" src="assets/icons/search.png"/>
        <img class="img-responsive" src="assets/icons/login.png"/>
</nav>